addict==2.4.0
aiofiles==23.2.1
aiohttp==3.8.5
altair==5.5.1
antlr4-python3-runtime==4.9.3
anyio==3.7.1
charset-normalizer==3.2.0
coloredlogs==15.0.1
diffusers==0.21.2
fairscale==0.4.13
fastapi==0.103.1
ffmpy==0.3.1
filelock==3.12.4
fonttools==4.42.1
fsspec==2023.9.2
gradio==3.45.0
gradio_client==0.5.2
groundingdino==0.1.0
huggingface-hub==0.17.3
humanfriendly==10.0
litellm==0.1.7713
nltk==3.8.1
omegaconf==2.3.0
openai==0.28.1
orjson==3.9.7
protobuf==4.24.3
pydantic==2.4.1
pydantic_core==2.10.1
pydub==0.25.1
pyreadline3==3.4.1
python-dotenv==1.0.0
python-multipart==0.0.6
regex==2023.8.8
rpds-py==0.10.3
safetensors==0.3.3
seaborn==0.12.2
semantic-version==2.10.0
starlette==0.27.0
tiktoken==0.5.1
timm==0.9.7
toolz==0.12.0
torchaudio==2.0.2
transformers==4.33.2
ultralytics==8.0.188
uvicorn==0.23.2
websockets==11.0.3
yapf==0.40.2
yarg==0.1.9
yarl==1.9.2
zipp==3.17.0
